<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Moran's I Map</title>
</head>
<body>
    <h1>Local Moran's I Map</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <!-- Form to input grid_id, start_time, and end_time -->
        <form method="POST" action="/">
            <label for="grid_id">Grid ID:</label>
            <input type="text" id="grid_id" name="grid_id" required>
            
            <label for="start_time">Start Time:</label>
            <input type="datetime-local" id="start_time" name="start_time" value="2023-10-05T09:00" required>
            
            <label for="end_time">End Time:</label>
            <input type="datetime-local" id="end_time" name="end_time" value="2023-11-05T09:00" required>

            <input type="submit" value="Submit">
        </form>


        <!-- Include the generated Folium map -->
        {% include 'folium_map.html' %}
    {% endif %}
</body>
</html>
